<h1>
  <span class="far fa-plus-square"></span> New Snippet
</h1>

<form method="post" action="./create">
  {{>csrf}}
  {{>validationSummary}}
  <div class="form-group">
    <input type="string" class="form-control" name="nameValue"  placeholder="Snippet name" required="required" autofocus="autofocus" />
    <textarea rows="10" class="form-control" cols="60" name="codeValue" placeholder="Enter text"placeholder="Write snippet"></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create new snippet</button>
</form>